.PollForm > * {
  margin: 5px !important;
}

/* background: */
progress::-webkit-progress-bar {background-color: transparent; width: 100%;}
progress {background-color: transparent;}

/* value: */
progress::-webkit-progress-value {background-color: white !important;}
progress::-moz-progress-bar {background-color: white !important;}
progress {color: white;}
